
.main.container {
    text-align: center;
    padding: 20px;
}

#add-task {
}

#tasks {
    text-align: center;
    width: 100%;
    list-style-type: none;
    padding: 10px 0;
}

#tasks > li {
    background-color: #eee;
    margin: 5px;
    border-radius: 10px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#tasks > li:hover {
    font-weight: bold;
}

#tasks > li.done {
    text-decoration: line-through;
    color: #888;
}

.delete {
    margin-left: 10px;
    position: absolute;
    color: red;
    display: none;
}

.up {
    margin-left: -25px;
    position: absolute;
    color: green;
    display: none;
}

.down {
    margin-left: -15px;
    position: absolute;
    color: blue;
    display: none;
}


#tasks > li:hover .delete /*,
#tasks > li:hover .up,
#tasks > li:hover .down*/ {
    display: inline;
}
